.jumbotron {
    text-align: center;
    background-color: transparent;
}


/* set a max-width for horizontal fluid layout and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px; /* or 950px */
}

.branding {
    margin: 0 auto;
}


p {
    margin-bottom: 24px;
}