<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }} | Motify.io</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css" -->
    <link rel="stylesheet" href="/static/css/hatm.css">
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Motify.io</a>
        </div>
        <form id="email-form" class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input id="email-address" type="email" class="form-control" placeholder="Email Address">
            </div>
            <button id="email-button" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-envelope"></span> Send
            </button>
          </form>
      </div>
    </nav>
    <div class="container" style="font-family: 'Lora', serif; font-size:14pt">
        <div class="row">
            <div class="col-md-12">
                <img src="http://{{ src_domain }}/favicon.ico" height="16" width="16"/>
                <a href="http://{{ src_domain }}/">{{ src_domain }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ article|safe }}
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="/static/js/hatm.js"></script>
    <script>
        $(document).ready(function(){
            $("#email-form").submit(function(event) {
                event.preventDefault();
                var shortName = "{{ shortname }}"
                var emaiAddress = $("#email-address").val();
                emailArticle(shortName, emaiAddress);
            });
        });
    </script>
  </body>
</html>
