<!DOCTYPE html>
<html>
    <head></head>
    <frameset framespacing="0" cols="50%,50%" frameborder="0">
        <frame name="left" src="{{ left_url }}" />
        <frame name="right" src="{{ right_url }}" />
    </frameset>
</html>