<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motify.io - Reading Simplified</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css" -->
    <link rel="stylesheet" href="/static/css/hatm.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Motify.io</a>
        </div>
      </div>
    </nav>
    <div class="container">
        <br/>
        <div class="jumbotron">
            <img src="static/img/glasses.png" class="branding img-responsive" alt="Motify.io icon"/>
            <h1>Reading Simplified!</h1>
            <p class="lead">Enjoy crisp clean text, worthy of your read. Take the web back by entering the URL to your article below</p>
        </div>
        <form role="form" action="process" method="get">
            <div class="form-group">
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter of copy/paste url here">
            </div>
            <p align="center"><button type="submit" class="btn btn-lg btn-success">Simplify</button></p>
        </form>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  </body>
</html>